@tailwind base;
@tailwind components;
@tailwind utilities;



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}

/* globals.css or tailwind.css */

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  height: 3px; /* Decrease the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 4px; /* Optional: rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb hover color */
}
